language: go
env:
   - GO111MODULE=on
go:
   - "1.13"
install:
   - curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | bash -s -- -b $GOPATH/bin v1.23.8
   - curl -sfL https://github.com/goreleaser/goreleaser/releases/download/v0.128.0/goreleaser_Linux_x86_64.tar.gz | tar xfz - -C $GOPATH/bin goreleaser
script: make ci
services:
   - docker
deploy:
   - provider: script
     skip_cleanup: true
     script: bash ci_release.sh
     on:
        tags: true
        condition: $TRAVIS_OS_NAME = linux

